body {
    margin: 0;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #22232a;
    box-shadow: 0px 0px 3px 1px rgb(26, 26, 26);
}

main {
    background-image: radial-gradient(#ffffff, #cbcbcb);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 80px - 46px);
    gap: 10px;
}

table {
    display: flex;
    flex: 0;
    box-shadow: 0px 0px 4px 4px rgb(131, 131, 131);
}

tr {
    display: flex;
    height: 80px;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    border: solid white;
    background-color: #CCCCCC;
    transition: 0.4s;
}

#game-title {
    border: 2px solid black;
    border-radius: 20px 4px / 20px;
    padding: 20px;
    background-color: white;
}

h1 {
    font-size: 1.2rem;
    line-height: 1rem;
}

h2 {
    font-size: 1rem;
}

a {
    transition: 0.6s;
}

a:hover:not(#git-link) {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

#player-message {
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFFFFF;

}

td:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 3px 3px gold;
    background-color: #dddddd;
}

.mark {
    max-width: 40px;
    max-height: 40px;
}

#reset-button {
    color: black;
    background-color: #DDDDDD;
    width: 240px;
    height: 40px;
    transition: 0.5s;
}

.scoreboard {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.vertical-button {
    display: flex;
    width: 30px;
    height: 100%;
}

#reset-score-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 150px;
    background-color: black;
    color: white;
    z-index: 1;
}

#reset-score-button span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 700;
    line-height: 0.8rem;
}
#reset-score-button:hover {
    background-color: #444444;
    color: lightblue;
    box-shadow: 0px 0px 2px 2px white;
}

.player-1-scoreboard, .player-2-scoreboard {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mark-icon {
    padding: 10px;
    max-width: 30px;
    max-height: 30px;
    border: 1px inset #CCCCCC ;
    background-color: #DDDDDD;
}

.player-1-scoreboard {
    border-left: 5px solid blue;
}

.player-2-scoreboard {
    border-right: 5px solid palevioletred;
}


footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid black;
    min-width: 100%;
    height: 45px;
    background-color: #22232a;
    flex-direction: column;
    flex-wrap: wrap;
}

#github-logo {
    height: 25px;
}

#footer-github-container {
    border-radius: 6px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    transition: 0.8s;
}

.footer-text {
    font-size: 0.8rem;
    color: white;
}

#footer-github-container:hover {
    background-color: rgb(53, 101, 163);
}
