body {
    margin: 0;
    background-color: #dddddd;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
}

table {
    display: flex;
    flex: 0;
}

tr {
    display: flex;
    height: 80px;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    border: solid white;
    background-color: #CCCCCC;
    transition: 0.4s;
}

td:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 3px 3px gold;
    background-color: #DDDDDD;
}

.mark {
    max-width: 40px;
    max-height: 40px;
}

#reset-button {
    color: black;
    background-color: white;
    width: 240px;
    height: 40px;
    transition: 0.5s;
}
#reset-button:hover {
    background-color: lightskyblue;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-button {
    display: flex;
    width: 30px;
    height: 100%;
}

#reset-score-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 150px;
    background-color: black;
    color: white;
    z-index: 1;
}

#reset-score-button span {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: 700;
    line-height: 0.8rem;
}
#reset-score-button:hover {
    background-color: #111111;
    box-shadow: 0px 0px 2px 2px gold;
}

.player-1-scoreboard, .player-2-scoreboard {
    display: flex;
    background-color: #CCCCCC;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
}

